body   {
   background-color: aquamarine; 
}

.container {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.portrait {
    border-radius: 25px;
    border: solid;
    box-shadow: 50px;
}

.cards {
    background-color: grey;
    display: flex;
    border-radius: 25px;
    margin: 10px;
}
/* portrait is the container holding the picutre of the dirver and the actual img is in its own container.  */
.profile-img {
    border-radius: 45px;
}


.stats_box {
      border-radius: 25px;
    border: solid;
    box-shadow: 50px;
    /* inside the stats box will be multile data points be aware that the points will be mapped out and will need to be called upon siumtaneously. */
}

.description {
/* enter short description to change in each driver.  */

}

#stat {
    /* these will be the uniform  */
}